.wrap {
    display: flex;
    flex-direction: column;
    gap: 44px;
    animation: block_appear 4s ease forwards;
}

.form_block {
    width: 400px;
}

@keyframes block_appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1199px) {
    .wrap {
        justify-content: end;
        align-items: end;
        gap: 30px;
    }

}