.main {
    min-height: 100.6vh;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    animation: show_page .5s ease forwards;
}

@keyframes show_page {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1199px) {
   
}
