.page_wrapper {
    padding-left: 295px;
    width: 100%;
    min-height: 100.6vh;
    position: relative;
    top: 0;
    left: 0;
}

.not_user_wrap {
    max-width: 478px;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    animation: show_logo 4s ease-in-out forwards;
}

@keyframes show_logo {
    0% {opacity: 0}
    85% {opacity: 0}
    100% {opacity: 1}
}