.spinner_wrap {
    position: fixed;
    bottom: 50px;
    left: 40px;
    animation: show_spinner .5s ease forwards;
}
.spinner {
    width: 180px;
    height: 30px;
    opacity: .2;
    border-radius: 4px;
    z-index: 100;
}

@keyframes show_spinner {0% {opacity: 0} 100%{opacity: 1}}