.wrapper {
    height: fit-content;
    width: 100%;
    min-height: 100%;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--light_gray);
    border-radius: 20px;
}

.wrapper_empty {
    height: fit-content;
    width: 100%;
    min-height: 100%;
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: empty 6s ease forwards;
}

@keyframes empty {0%{opacity: 0} 85%{opacity: 0} 100%{opacity: 1}}

@media (max-width: 1199px) {
    
}

@media (max-width: 536px) {
    .wrapper {
        padding: 12px 4px;
    }
}