.wrapper {
    margin: 40px 0 0 auto;
    padding: 20px;
    width: 60vw;
    display: grid;
    grid-template: auto 1fr auto / 1fr; 
    gap: 24px;
    min-height: 66vh;
    border-radius: 24px 0 0 0;
    background-color: var(--foreground);
}
.top_btn_block {
    display: flex;
    justify-content: space-between;
}
.search_block {
    display: flex;
    height: 46px;
    input {
        border: 1px solid var(--light_gray);
        border-radius: 20px 0 0 20px;
        padding: 11px 11px 11px 26px; 
        background-color: transparent;
    }
}
.search_btn {
    padding: 0 0 0 12px;
    width: 65px;
    background-color: var(--light_blue);
    border: 1px solid var(--light_gray);
    border-radius: 0 20px 20px 0;
}

@media (max-width: 1399px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .wrapper {
        margin: 30px 0 0 0;
        border-radius: 0 0 0 0;
    }
    .search_block {
        max-height: 38px;
        input {
            border-radius: 20px 0 0 20px;
            padding: 8px 8px 8px 20px; 
            font-size: 14px;
        }
    }
    .search_btn {
        padding: 0 0 0 12px;
        width: 65px;
        background-color: var(--light_blue);
        border: 1px solid var(--light_gray);
        border-radius: 0 20px 20px 0;
    }
}

@media (max-width: 535px) {
    .wrapper {
        padding: 20px 0;
    }
    .top_btn_block {
        padding: 0 10px;
        flex-direction: column;
        gap: 20px;
    }
    .search_block {
        order: -1;
    }
}